<% comments.each do |comment| %>
<li>
  <div>
    <%= attachment_image_tag comment.member, :profile_image, size: "50x50", format: 'jpeg', class: "rounded-circle", fallback: "no_image.jpg" %>
    <%= comment.member.name %>
    <%= l comment.created_at %>
    <% if comment.member == current_member %>
      <%= link_to "削除", article_comment_path(comment.article, comment), method: :delete, remote: true, data: { confirm: '本当に削除しますか？' } %>
    <% end %>
  </div>

  <div><%= comment.content %></div>
</li>
<% end %>
