<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
    <% messages = article.errors.full_messages.select { |msg| !msg.match?(/\w.+/) } %>
    <h2><%= messages.count %>件のエラーのため記事が保存できませんでした。</h2>
      <ul class="error_message">
      <% messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %><br />
    <%= form.text_area :title, size: "1x1", autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :body %><br />
    <%= form.text_area :body, size: "60x15", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :category %><br />
      <%= form.collection_radio_buttons(:category_id, Category.all, :id, :name) do |category| %>
        <%= category.label {category.radio_button + category.text} %>
      <% end %>
  </div>

  <div class="action">
    <%= form.submit %>
  </div>
<% end %>
