<div class="row justify-content-center">
  <div class="col-8">
	<% if params[:category_id] %>
	  <span class="article-underline"><%= @category.name %> 記事一覧(全<%= @articles_all.count %>件)</span>
	<% else %>
	  <span class="article-underline">記事一覧(全<%= @articles_all.count %>件)</span>
	<% end %>

	<%= render 'index', articles: @articles %>
	<%= paginate @articles %>

	<div class="text-center">
	  <%= link_to '戻る', 'javascript:history.back()' %>
	</div>
  </div>
</div>
