<% if params[:category_id] %>
  <p class="article-content"><span class="article-index">カテゴリ別 記事一覧(全<%= @articles.count %>件)</span></p>
<% else %>
  <p class="article-content"><span class="article-index">記事一覧(全<%= @articles.count %>件)</span></p>
<% end %>

<div class="main">
  <div class="content">
    <% @articles.each do |article| %>
      <div class="box">
      <%= link_to article, style: "color: black;" do %>
        <div class="article-img">
          <%= attachment_image_tag article.member, :profile_image, size: "100x100", format: 'jpeg', class: "rounded-circle", fallback: "no_image.jpg" %>
        </div>
        <div class="article-info">
          <span class="article-name"><%= article.member.name %></span>
          <span class="article-title"><%= article.title %></span>
          <span class="article-body"><%= article.body %></span>
          <span class="article-category"><%= article.category.name %></span>
          <span class="article-favorite"><%= article.favorites.count %>いいね</span>
          <span class="article-comment"><%= article.comments.count %>コメント</span>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="actions">
  <%= link_to 'トップページへ', root_path %> |
  <%= link_to '記事一覧を見る', articles_path %> |
  <%= link_to '記事を書く', new_article_path %>
</div>
