<% if params[:category_id] %>
  <p class="article-content"><span class="article-index">カテゴリ別 記事一覧(全<%= @articles_all.count %>件)</span></p>
<% else %>
  <p class="article-content"><span class="article-index">記事一覧(全<%= @articles_all.count %>件)</span></p>
<% end %>

<%= render 'index', articles: @articles %>

<div class="text-center actions">
  <%= link_to '戻る', 'javascript:history.back()' %> |
  <%= link_to '記事を書く', new_article_path %>
</div>
