<p class="article-content"><span class="article-index">記事一覧</span></h2>

<div class="main">
  <div class="content">
    <% @articles.each do |article| %>
      <div class="box">
      <%= link_to article, style: "color: black;" do %>
        <div class="article-img">
          <%= attachment_image_tag @member, :profile_image, size: "100x100", format: 'jpeg', class: "rounded-circle", fallback: "no_image.jpg" %>
        </div>
        <div class="article-info">
          <span class="article-title"><%= article.title %></span>
          <span class="article-body"><%= article.body %></span><br />
          <span class="article-category"><%= article.category.name %></span>
          <span class="article-favorite"><%= article.favorites.count %>いいね</span>
          <span class="article-comment"><%= article.comments.count %>コメント</span>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Category</th>
      <th>Favorite</th>
      <th>Commment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= article.category.name %></td>
        <td><%= article.favorites.count %></td>
        <td><%= link_to "#{article.comments.count} コメント", article_path(article) %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '記事を書く', new_article_path %>
