<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>
<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<ul class="favorite_<%= @article.id %>">
  <%= render 'favorite', article: @article %>
</ul>

<h2><%= @article.comments.count %>件コメント</h2>

<ol class="comment_<%= @article.id %>">
  <%= render 'comment', comments: @article.comments %>
</ol>

<h3>コメント</h3>
<%= form_with model:[@article, @comment], data: {remote: true} do |f| %>
  <%= f.text_area :content, class: "form-control", placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
