<div class="row justify-content-center">
<div class="col-md-10 article-content">
  <span>記事詳細</span>
  <div class="field">
    <p>
      <strong>タイトル:</strong><br/>
      <%= @article.title %>
    </p>
  </div>
  <div class="field">
    <p>
      <strong>本文:</strong><br/>
      <%= @article.body %>
    </p>
  </div>
  <div class="field">
    <p>
      <strong>カテゴリ:</strong>
      <%= @article.category.name %>
    </p>
  </div>
  <div class="field">
    <%= link_to member_path(@article.member) do %>
    <%= attachment_image_tag @article.member, :profile_image, size: "50x50", format: 'jpeg', class: "rounded-circle", fallback: "no_image.jpg" %>
    <% end %>
  </div>

  <div class="field">
    <% if member_signed_in? && @article.member.id == current_member.id %>
      <%= link_to '編集する', edit_article_path(@article) %> |
      <%= link_to '削除する', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

    <% if member_signed_in? %>
      <div class="favorite_<%= @article.id %>">
        <%= render 'favorite', article: @article %>
      </div>
      <p class="comment_count_<%= @article.id %>">
        <%= render 'comment_count', comments: @article.comments %>
      </p>
    <% end %>
  </div>

  <div class="comment-index comment_<%= @article.id %>">
    <%= render 'comment', comments: @article.comments %>
  </div>

  <% if member_signed_in? %>
    <h4>コメント</h4>
    <%= form_with model:[@article, @comment], data: {remote: true} do |f| %>

      <div class="field">
        <%= f.text_area :content, rows: 5, class: "form-control", placeholder: "コメントをここに" %>
      </div>
      <%= f.submit "コメントする" %>
    <% end %>
  <% end %>

  <div class="text-center field">
    <%= link_to '一覧に戻る', articles_path %>
  </div>
</div>
</div>