<!DOCTYPE html>
<html>
  <head>
    <title>Yatter</title>
    <link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/34f3987b2a.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav class="nav navbar-brand">
          <%= link_to 'Yatter', root_path, class: "logo no-underline", style: "color: black;" %>
        </nav>

        <div class="sp-menu">
          <%= render 'layouts/header' %>
        </div>

        <nav>
          <ul class="nav">
            <% if member_signed_in? %>
            <li>
              <p>ようこそ <%= current_member.name %> さん！</p>
            </li>
            <% end %>
            <li class="hm-icon">
              <p class="menu-trigger">
                <span></span>
                <span></span>
                <span></span>
              </p>
            </li>
      </div>
    </header>
    <div class="container">

      <% flash.each do |key, value| %>
        <% key = "info" if key == "notice" %>
        <% key = "danger" if key == "alert" %>
        <%= content_tag :div, value, class: "alert alert-#{key}" %>
      <% end %>

      <div class="search-form">
        <%= form_tag(search_path, method: :get) do %>
          <%= text_field_tag 'search[content]' %>
          <%= select_tag 'search[model]', options_for_select({ "記事" => "article" }) %>
          <%= select_tag 'search[method]', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
          <%= submit_tag '検索' %>
        <% end %>
      </div>
      <%= yield %>
    </div>

    <footer>
      <p class="text-center">© 2020 Yatter All Rights Reserved.</p>
    </footer>
  </body>
</html>
