<div class="member-main">
  <div class="member-content">
    <% members.each do |member| %>
      <div class="card box">
      <%= link_to member, class: "no-underline", style: "color: black;" do %>
        <div class="article-img">
          <%= attachment_image_tag member, :profile_image, size: "100x100", format: 'jpeg', class: "rounded-circle", fallback: "no_image.jpg" %>
        </div>
        <div class="article-info">
          <span class="article-name"><%= member.name %></span>
          <span class="member-school_year"><%= member.school_year_i18n %></span><br />
          <span class="member-article">投稿数：<%= member.articles.count %></span><br />
          <span class="member-article">フォロー中：<%= member.follower.count %></span><br />
          <span class="member-article">フォロワー：<%= member.followed.count %></span><br />
          <!-- ログインしていたらフォローボタン出現 -->
          <% if member_signed_in? %>
            <!-- フォローボタン -->
            <% unless member == current.member %>
              <% if current_member.following?(member) %>
                <%= link_to 'フォロー解除', member_relationships_path(member), method: :delete, class: "btn btn-unfollow no-underline" %>
              <% else %>
                <%= link_to 'フォロー', member_relationships_path(member), method: :post, class: "btn btn-follow no-underline" %>
              <% end %>
            <!-- 本人のメンバーカードには新規投稿リンク設置 -->
            <% else %>
              <%= link_to '記事を書く', new_article_path, class: "btn btn-follow no-underline" %>
            <% end %>
          <!-- ログインしていない場合はログインを促す -->
          <% else %>
            <%= link_to 'ログインしてフォロー', new_member_session_path, class: "btn btn-follow no-underline" %>
          <% end %>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
