<div class="row justify-content-center">
  <div class="col-auto prof">
    <h2><span class="prof-underline">プロフィール情報</span></h2>

    <div class="card my-card">
      <div class="field">
      	プロフィール画像：<br />
        <div class="my-img">
    	    <%= attachment_image_tag @member, :profile_image, size: "100x100", format: 'jpeg', class: "rounded-circle", fallback: "no_image.jpg" %>
        </div>
      </div>
      <div class="my-info">
        <div class="field">
          名前：<%= @member.name %>
        </div>

        <div class="field">
          学年：<%= @member.school_year_i18n %>
        </div>

        <div class="field">
          投稿数：<%= @member.articles.count %>
        </div>

        <div class="field">
          フォロー中：<%= @member.follower.count %>
        </div>

        <div class="field">
          フォロワー：<%= @member.followed.count %>
        </div>

        <% if member_signed_in? && @member.id == current_member.id %>
        <div class="field">
          メールアドレス：<%= @member.email %>
        </div>
        <% end %>
      </div>
    </div>

    <% if member_signed_in? && @member.id == current_member.id %>
      <div class="text-center">
        <%= link_to '編集する', edit_member_path(@member) %> |
        <%= link_to '退会したい', confirm_members_path %>
      </div>
    <% end %>
  </div>
</div>

<div class="article-content">
  <span class="article-index">投稿一覧(全<%= @articles_all.count %>件)</span>
</div>
<%= render 'articles/index', articles: @articles %>
<%= paginate @articles %>

<div class="text-center">
  <%= link_to '戻る', 'javascript:history.back()' %>
</div>
